@font-face {
    font-family: 'Ringtronix';
    src: url('Ringtronix-Full.woff2') format('woff2'),
        url('Ringtronix-Full.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

